.container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 10%;
    margin-top: 2%;
  }

  .buttons {
    display:flex;

    #add-event-btn {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      
      button {
        max-width: 100px;
      }
    }

    .filters {
      width: 250px;
    }
  }
  
  table {
    width: 100%;
    margin-top: 10px;

    tr.mat-row:hover {
        cursor: pointer;
        background-color: #bdc8ef;
    }
    tr.mat-row:active {
        cursor: pointer;
        background-color: #5f7ad8;
    }
  }